/* Landing Page */

.landingPageStyle {
    /* home */
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #000000 0%, #000000 0.01%, #1B0140 100%);

}

.landHeader {
    background-image: linear-gradient(rgba(26, 4, 41, 0.76), rgba(0, 0, 0, 0.925)), url('https://wallpapercave.com/wp/wp1945897.jpg');
    background-size: cover;
    -webkit-animation: slidein 100s;
    animation: slidein 50s;

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

@-webkit-keyframes slidein {
    from {
        background-position: top;
        background-size: 3000px;
    }

    to {
        background-position: -100px 0px;
        background-size: 2750px;
    }
}

@keyframes slidein {
    from {
        background-position: top;
        background-size: 3000px;
    }

    to {
        background-position: -100px 0px;
        background-size: 2750px;
    }

}

.landingPageStyle h1 {
    color: #ffffff;
    font-weight: 700;
    font-size: 100px;
    margin-top: 5rem;
}

.landingPageStyle h3 {
    color: #ffffff;
    margin-top: 3%;
    font-weight: 100;
    font-size: 50px;

}

.landingPageStyle h5 {
    color: #ffffff;
    margin-top: 3%;
    font-weight: 20;
    font-size: 30px;
}

.landingPageStyle h6 {
    color: #ffffff;
    margin-top: 3%;
    font-weight: 20;
    font-size: 30px;
}

.landingPageStyle h4 {
    color: #ffffff;
    margin-top: 20%;
    font-weight: 50;
    font-size: 5rem;
    margin-left: 2em;
    margin-top: 200px;
    font-style: italic;
}

.landingPageStyle h2 {
    color: #ffffff;
    font-weight: 50;
    font-size: 80px;
    margin-top: 200px;
    font-style: italic;
}

.landingPageStyle p {
    font-size: 2rem;
    color: #FFFFFF;
    margin-left: 11rem;
    margin-top: 20px;
    margin-bottom: 200px;
}

.btnsection button {
    margin-top: 20px;
    color: #ffffff;
    background-color: #1B0140;
    width: 9em;
    height: 64px;
    left: 614px;
    top: 503px;
    border-radius: 10px;
    font-size: 35px;
}

.btn-header:hover {
    color: #ffffff;
    background-color: #26015a;
}

.btn-get-started {
    padding-top: 0;
}

.btn-get-started:hover {
    color: #ffffff;
    background: #26015a;
}

.btn-get-started:active {
    transform: scale(0.98);
}

.faqbtn button {
    width: 9em;
    padding: 20px;
    background: #40374B;
    border-radius: 10px;
    font-size: 30px;
    color: white;
    margin-bottom: 150px;
    margin-top: 20px;
}

.faqbtn button:hover {
    color: white;
    background: #534861;
}

.firstsection img {
    margin-top: 10rem;
    margin-bottom: 15%;
    width: 30rem;
}

.secsection img {
    margin-top: 12%;
    width: 40rem;
    margin-left: -10rem;
}

.thirdsection img {
    margin-top: 10rem;
    width: 40rem;
    margin-left: -4rem;
}

.fourthsection img {
    width: 45rem;
    margin-top: 10rem;
}

.secsection {
    padding: 15rem;

}

.faq {
    width: 100%;
    padding: 40px;
    font-size: 25px;
    background-color: #40374B;
    list-style: none;
    color: rgb(255, 255, 255);
    margin-top: 1%;

}

.header button {
    /* header */
    margin-top: 20px;
    float: right;
    color: #ffffff;
    margin-right: 100px;
    background-color: #1B0140;
}

.header button:hover {
    color: white;
    background-color: #35027e;
}

.header {
    width: 20rem;
    padding-top: 50rem;
}

.movApp {
    background-image: url('https://custom-doodle.com/wp-content/uploads/doodle/marvel-spider-man-hanging-upside-down/marvel-spider-man-hanging-upside-down-doodle.gif');
    background-repeat: no-repeat;
    background-color: black;

}

.linep {
    width: 100%;
    margin-top: 17%;
    border: 10px solid #323232;
}

.line {
    width: 100%;
    border: 10px solid #323232;
}

.liney {
    width: 100%;
    border: 10px solid #FBBC04;
}