/* Landing Page */

.landingPageStyle {
    /* home */
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #000000 0%, #000000 0.01%, #1B0140 100%);
}

.landingPageStyle h1 {
    color: #ffffff;
    margin-top: 20%;
    font-weight: 700;
    font-size: 100px;
}

.landingPageStyle h3 {
    color: #ffffff;
    margin-top: 3%;
    font-weight: 100;
    font-size: 50px;

}

.landingPageStyle h5 {
    color: #ffffff;
    margin-top: 3%;
    font-weight: 20;
    font-size: 30px;
}

.landingPageStyle h6 {
    color: #ffffff;
    margin-top: 3%;
    font-weight: 20;
    font-size: 22px;
}

.landingPageStyle h4 {
    color: #ffffff;
    margin-top: 20%;
    font-weight: 50;
    font-size: 80px;
    margin-left: 2em;
    margin-top: 200px;
    font-style: italic;
}

.landingPageStyle h2 {
    color: #ffffff;
    font-weight: 50;
    font-size: 80px;
    margin-top: 200px;
    font-style: italic;
}

.landingPageStyle p {
    width: 600px;
    top: 960px;
    font-weight: 100;
    font-size: 40px;
    line-height: 41px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-left: 4em;
    margin-top: 20px;
    margin-bottom: 200px;
}

.landHeader button {
    /* header */
    margin-top: 20px;
    float: right;
    color: #ffffff;
    margin-right: 100px;
    background-color: #1B0140;
}

.btnsection button {
    /* body get started*/
    margin-top: 20px;
    color: #ffffff;
    background-color: #1B0140;
    width: 9em;
    height: 64px;
    left: 614px;
    top: 503px;
    border-radius: 10px;
    font-size: 35px;
}

.faqbtn button {
    width: 9em;
    padding: 20px;
    background: #40374B;
    border-radius: 0px 4px 4px 0px;
    color: white;
    margin-bottom: 60px;
    margin-top: 20px;
}

.landHeader img {
    width: 10em;
    margin-left: 4em;
    margin-top: 30px;
}

.firstsection img {
    margin-top: 16%;
    margin-left: 30%;
}

.secsection img {
    margin-top: 16%;
    margin-left: 30%;
}

.faq {
    width: 100%;
    padding: 40px;
    font-size: 25px;
    background-color: #40374B;
    list-style: none;
    color: rgb(255, 255, 255);
    margin-top: 1%;
}

/* Line 1 */
.linep {
    width: 100%;
    margin-top: 17%;
    border: 10px solid #323232;
}

.line {
    width: 100%;
    border: 10px solid #323232;
}

.liney {
    width: 100%;
    border: 10px solid #FBBC04;
}