@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.login-container {
    padding: 20vh 10vw 10vh 10vw;
}

.login-form {
    display: flex;
    width: 60%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #1B0140;
    -webkit-box-shadow: 0 0 14px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 0 14px rgba(0, 0, 0, .25);
    box-shadow: 0 0 14px rgba(0, 0, 0, .25);
}

.login-form-title {
    color: #FFF;
    font-family: "Open Sans";
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.login-form-control {
    width: 40vw;
    height: 4rem;
    border: 0;
    border-radius: 10px;
    background: #D9D9D9;
    font-size: 1.35rem;
    padding-left: 1rem;
    position: relative;
}

.login-form-control::placeholder {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: #1B0140;
    font-family: "Open Sans";
    font-size: 1.35rem;
    font-weight: 300;
}

/* button style */
.login-btn {
    margin-top: 2.65rem;
    margin-bottom: 1rem;
    width: 40vw;
    height: 4rem;
    border: 0;
    border-radius: 10px;
    background: #FBBC04;
    color: #1B0140;
    font-family: "Open Sans";
    font-size: 1.7rem;
    font-weight: 600;
    overflow: hidden;
    transition: .2s transform ease-in-out;
    will-change: transform;
    z-index: 0;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0, .7);
}

.login-btn::after {
    background-color: #1B0140;
    content: '';
    border-radius: 10px;
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-100%, 0) rotate(10deg);
    transform-origin: top left;
    transition: .2s transform ease-out;
    will-change: transform;
    z-index: -1;
}

.login-btn:hover::after {
    transform: translate(0, 0);
}

.login-btn:hover {
    border: 2px solid transparent;
    color: #FBBC04;
    transform: scale(1.02);
    will-change: transform;
}

/* button effect when clicking it */
.login-btn:active {
    transform: scale(0.98);
    box-shadow: 0px 10px 20px -81px rgba(0, 0, 0, 0.24);
}

/* signup link underneath of login button */
.signup-link,
.signup-redirect {
    width: 60vw;
    color: #FFF;
    font-family: "Open Sans";
    font-size: 1.1rem;
    font-weight: 300;
    text-decoration: none;
}

.signup-redirect:hover {
    color: #FBBC04;
}

/* center login button and signup link */
.login-btn-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}