.SingleMovie {
    background-color: rgba(28, 3, 51, 0.938);
}

.headertext p {
    font-size: 20px;
}

.headertext h6 {
    color: #796883c5;
}

.moviebody {
    margin-left: 10%;
}

.movieimg {
    opacity: 50%;
}

.YoutubePlayer {
    margin-top: 5rem;
    opacity: 80%;
}

.headertext h1 {
    font-size: 5rem;
}

.genreSection {
    border-style: ridge;
    border-color: #f2b749;
    border-radius: 25px;
    height: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    text-align: center;
    display: -moz-inline-box;
    margin-right: 1rem;
}

.cardSimilar {
    width: 10rem;
    margin-bottom: 3rem;
}

.btn-watch-later {
    background-color: transparent;
    border: 0px;
    color: white;
}

.btn-watch-later:hover {
    background-color: transparent;
    border: 0px;
    color: #f2b749;
}

.btn-text {
    margin-left: 0.5rem;
    font-family: "Open Sans";
}