html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .content {
    flex: 1;
  }
  
  .footer {
    background-color: #f8f8f8; 
    padding: 10px; 
    text-align: center;
  }
  
  .emoji {
    font-size: 3rem; /* Ajusta el tamaño del emoji según tus preferencias */
  }
  