@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.signup-container {
    padding: 10rem 5rem 5rem 5rem;
}

.signup-form-title {
    width: 60vw;
    color: #1B0140;
    font-family: "Open Sans";
    font-size: 3rem;
    font-style: italic;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 2.5px;
    margin-bottom: 2rem;
}

.signup-form-group {
    display: inline-block;
    width: 60vw;
    height: 4rem;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #8C8C8C;
    margin-bottom: 20px;
}

.signup-form-control {
    outline: none;
    border: none;
    display: block;
    line-height: 1.2em;
    font-size: 1.2rem;
    margin-left: 1rem;
}

.signup-label {
    display: block;
    font-size: 1rem;
    color: #8C8C8C;
    margin-top: 0.3rem;
    margin-left: 1rem;
    text-align: left;
}

.signup-btn {
    width: 60vw;
    height: 4rem;
    border-radius: 10px;
    border: 0;
    background: #1B0140;
    color: white;
    font-family: "Open Sans";
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.8px;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 3vh;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0, .7);
}

.signup-btn {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.signup-btn:after {
    content: '»';
    position: absolute;
    opacity: 0;
    right: -1rem;
    transition: 0.5s;
}

.signup-btn:hover {
    padding-right: 24px;
    padding-left: 8px;
}

.signup-btn:hover:after {
    opacity: 1;
    right: 15vw;
}