.cardSimilar {
    position: relative;
}

.cardSimilar .bg-image {
    position: relative;
    overflow: hidden;
}

.cardSimilar .title-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.75);
    font-family: "Open Sans";
    font-weight: 600;
    color: white;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.cardSimilar:hover .title-overlay {
    cursor: pointer;
    visibility: visible;
    opacity: 1;
}